<div class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a href="#"><img src="~/Images/banner-slider/banner-top-product.svg" class="d-block w-100" alt="..."></a>
        </div>
        <div class="carousel-item">
            <a href="#"><img src="~/Images/banner-slider/banner-top-product.svg" class="d-block w-100" alt="..."></a>
        </div>
        <div class="carousel-item">
            <a href="#"><img src="~/Images/banner-slider/banner-top-product.svg" class="d-block w-100" alt="..."></a>
        </div>
    </div>
    <ol class="owl-carousel-caption text-center">
        <li class="title ">
            Thuốc kê đơn
        </li>
        <li class="bread-crumb">
            <a>Trang chủ</a><span>Thuốc kê đơn</span>
        </li>
    </ol>
</div>
