<ul class="menu-mobile animate__animated">
    <li>
        <a href="#">Danh sách yêu thích <span class="ml-2">2 sản phẩm</span> </a>
    </li>
    <li class="information">
        <a href="#" class="call">Hotline / Zalo: 0123.456.789</a>
    </li>
    <li class="cart">
        <a href="#">Giỏ hàng: <span class="ml-2">3 sản phẩm</span></a>
    </li>
    <li class="accordion">
        <div class="accordion-title">
            Danh mục sản phẩm
        </div>
        <div>
            <div class="colla-title">
                <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseone" aria-expanded="false" aria-controls="collapseone">
                    <i class="fas fa-caret-right mr-2"></i> Thuốc kê đơn
                </button>
            </div>

            <div id="collapseone" class="collapse show">
                <div class="form-group change-style mr-3">
                    <input type="checkbox">
                    <label>Check me out</label>
                </div>
                <div class="form-group change-style mr-3">
                    <input type="checkbox">
                    <label>Check me out</label>
                </div>
                <div class="form-group change-style mr-3">
                    <input type="checkbox">
                    <label>Check me out</label>
                </div>
            </div>
        </div>

        <div>
            <div class="colla-title">
                <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                    <i class="fas fa-caret-right mr-2"></i> Vitamin
                </button>
            </div>
            <div id="collapse-2" class="collapse show">
                <div class="form-group change-style mr-3">
                    <input type="checkbox">
                    <label>Check me out</label>
                </div>
                <div class="form-group change-style mr-3">
                    <input type="checkbox">
                    <label>Check me out</label>
                </div>
                <div class="form-group change-style mr-3">
                    <input type="checkbox">
                    <label>Check me out</label>
                </div>
            </div>
        </div>

        <div>
            <div class="colla-title">
                <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <i class="fas fa-caret-right mr-2"></i>Thực phẩm chức năng
                </button>
            </div>
            <div id="collapseThree" class="collapse">
            </div>
        </div>

        <div>
            <div class="colla-title">
                <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                    <i class="fas fa-caret-right mr-2"></i>Ăn kiếng / Dinh dưỡng
                </button>
            </div>

            <div id="collapsefour" class="collapse">
            </div>
        </div>

        <div>
            <div class="colla-title">
                <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                    <i class="fas fa-caret-right mr-2"></i> Chăm sóc cá nhân
                </button>
            </div>
            <div id="collapsefive" class="collapse">
            </div>
        </div>
        <div>
            <div class="colla-title">
                <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                    <i class="fas fa-caret-right mr-2"></i> Chăm sóc trẻ
                </button>
            </div>
            <div id="collapsefive" class="collapse">
            </div>
        </div>
        <div>
            <div class="colla-title">
                <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                    <i class="fas fa-caret-right mr-2"></i>Chăm sóc da, tóc
                </button>
            </div>
            <div id="collapsefive" class="collapse">
            </div>
        </div>
        <div>
            <div class="colla-title">
                <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                    <i class="fas fa-caret-right mr-2"></i>Chăm sóc răng miệng
                </button>
            </div>
            <div id="collapsefive" class="collapse">
            </div>
        </div>
        <div>
            <div class="colla-title">
                <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                    <i class="fas fa-caret-right mr-2"></i> Thiết bị y tế
                </button>
            </div>
            <div id="collapsefive" class="collapse">
            </div>
        </div>
        <div>
            <div class="colla-title">
                <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                    <i class="fas fa-caret-right mr-2"></i>Thảo mộc
                </button>
            </div>
            <div id="collapsefive" class="collapse">
            </div>
        </div>

        <div class="accordion-title">
            Đơn giá
        </div>
        <div class="slide">
            <input type="text" id="amount" readonly>
            <div id="slider-range"></div>
        </div>
        <div class="accordion-title">
            Đối tượng sử dụng
        </div>
        <div class="Object-use">
            <div class="form-group change-style">
                <input type="checkbox">
                <label>Check me out</label>
            </div>
            <div class="form-group change-style ">
                <input type="checkbox">
                <label>Check me out</label>
            </div>
            <div class="form-group change-style ">
                <input type="checkbox">
                <label>Check me out</label>
            </div>
        </div>
    </li>
</ul>
<div id="div-wrapper-body">
</div>

