
<div class="post-wrapper">
    @for (int i = 0; i < 24; i++)
    {
    <div class="card">
        <a href="#" class="image"><img src="~/Images/Medicines/1.svg" class="card-img-top" /></a>
        <div class="card-body">
            <div class="name">
                <a href="#">Viên Sủi Mutivitamins + Biotin Swiss Energy 20 Viên</a>
            </div>
            <div class="price">
                130.000đ <span class="float-right">/ Tuýp</span>
            </div>
        </div>
    </div>
    }
</div>
